*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.first-text{
    font-family: 'Mirza', cursive;
}
.second-text{
    font-family: 'Enriqueta', serif;
}
.third-text{
    font-family: 'Expletus Sans', cursive;
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 1px;
    background-color: #000;
}
body::-webkit-scrollbar-thumb{
    width: 1px;
    background-color: #E94625;
    border-radius: 5em;
    -webkit-border-radius: 5em;
    -moz-border-radius: 5em;
    -ms-border-radius: 5em;
    -o-border-radius: 5em;
}
header{
    background-color: #0009;
    font-size: 16px;
    padding: 1em;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 30;
}
header:hover{
    background-color: #000;
}
.logo-dota{
    width: max-content;
}
.logo-dota a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
}
.logo-dota a p{
    font-size: 1.5em;
}
.img-logo{
    margin: .2em;
    width: 2em;
    height: 2em;
}
.nav-btn{
    width: max-content;
}
#chbx-btn{
    display: none;
}
#chbx-btn:checked ~ .navbar{
    display: block;
}
.nav-btn label{
    font-size: 2em;
    color: #fff;
}
.navbar{
    display: none;
    position: absolute;
    top: 5em;
    left: 0;
    background-color: #000;
    width: 100%;
}
.navbar li{
    text-align: center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.navbar li:hover{
    background-color: #444;
    letter-spacing: 1px;
}
li a{
    color: #fff;
    text-decoration: none;
    line-height: 3em;
    font-family: 'Enriqueta', serif;
}
.btn-playfree{
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-btn{
    background-color: #E94625;
    padding: .5em 1em;
    color: #000;
    text-decoration: none;
    border-radius: .2em;
    -webkit-border-radius: .2em;
    -moz-border-radius: .2em;
    -ms-border-radius: .2em;
    -o-border-radius: .2em;
    cursor: pointer;
}
.play-btn:hover{
    letter-spacing: 1px;
}
/*END HEADER*/
.section-one{
    font-size: 16px;
    height: 100vh;
    background-image: url('./IMG/secone-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;    
    display: grid;
    grid-template-rows: 50% 50%;
}
.video-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6em;
}
iframe{
    width: 90%;
    height: 90%;
}
.section-one__content{
    color: #fff;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.section-one__text{
    font-size: 2em;
    animation: text-one 3s ;
    -webkit-animation: text-one 3s ;
}
@keyframes text-one{
    0%{
        color: transparent;
    }
    100%{
        color: #fff;
    }
}
.section-one__btn{
    font-size: 2em;
}
/*NEWS SECCTION*/
.bg--paralax{
    background-image: url(./IMG/enigma-bg2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.news-container{
    font-size: 16px;
    width: 100%;
    min-height: 19em;
    max-height: 19em;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 1em;
}
.news-container::-webkit-scrollbar{
    width: 0;
}
.card-container{
    min-width: 22em;
    height: 12.5em;
    position: relative;
    margin: 0 1em;
}
.card--img{
    width: 22em;
    height: 12.5em;
}
.card--text-container{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 1em;
    color: #fff;
    background: linear-gradient(135deg, #000 0%, #fff1 79%, #fff1 100%);
}
.card--text{
    font-size: 1em;
}
.radius-class{
    border-radius: 1em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}
/*SECTION TWO*/
section{
    height: 100vh;
}
.section-two{
    background-image: url(./IMG/bg-sectwo.jpg);
    background-size: cover;
    background-position: center;
    font-size: 16px;
    padding: 2em 1em;
}
.text-square{
    background-color: #0008;
    width: 100%;
    height: 100%;
    padding: 2em 1em;
    text-align: center;
    display: grid;
    grid-template-rows: 80% 20%;
}
.text--container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text--titleone{
    color: #c4c4c4;
    font-size: 1.5em;
    letter-spacing: 1px;
}
.text--titletwo{
    color: #fff;
    font-size: 2em;
    font-weight: 200;
}
.text--ico{
    width: 2.5em;
    height: 2.5em;
}
.text--content{
    font-size: 1em;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 100;
}
.btn-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
}
.btn--a{
    border: solid 3px #E94625;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 80%;
    padding: 1em 0;
    text-align: center;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.btn--a:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 0 0 1em #fd3d17;
    text-shadow: 0 0 1em #fff, 0 0 1em #fff;
    letter-spacing: 1px;
}
.bg-poster{
    background-image: url(./IMG/bg-secthree.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 18rem;
}
/*SECCTION THREE*/
.section-three{
    display: grid;
    grid-template-rows: 70% 30%;
}
.text-heros{
    width: 100%;
    height: 100%;
    padding: 2em 1em;
    text-align: center;
    display: grid;
    grid-template-rows: 80% 20%;
    height: 100%;
}
.bg--heros{
    background-image: url(./IMG/bg-heros.jpg);
    background-size: 110% 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
/*SECTION FOUR*/
.section-four{
    position: relative;
}
.part-one{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 50% 50%;
    position: relative;
}
.part--head{
    background-image: url(./IMG/part-head.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.part--foot{
    background-image: url(./IMG/part-foot.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,1) 40%, rgba(0,0,0,1) 70%, rgba(255,255,255,0) 100%);
}
.part-two{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 2em 1em;
}
/*SECTION FIVE*/
.section-five{
    font-size: 16px;
    padding: 2em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.five-conatiner{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1em;
    background: linear-gradient(300deg, #000 0%, #0001 50%, #0001 100%);
}
.five-btn-conatiner{
    height: max-content;
    padding: 2em 0;
}
/*FOOTER*/
footer{
    font-size: 16px;
    width: 100%;
    height: 400px;
    background-color: #000;
    display: grid;
    grid-template-rows: 50% 50%;
}
.logo-footer, .text-footer{
    width: 100%;
}
.logo-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.img-container{
    width: 6em;
    height: 6em;
}
.valvelogo-footer{
    background-image: url(./IMG/Valve_logo.png);
}
.dotalogo-footer{
    background-image: url(./IMG/dota-logo.png);
}
.valvelogo-footer, .dotalogo-footer{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
} 
.text-footer{
    display: block;
    color: #bbb;
    padding: 2rem;
    text-align: center;
}
/*FOLD*/
@media screen and (max-width:290px){
    .section-one__content{
        padding-top: 0;
    }
    .section-one__text{
        font-size: 1.5em;
    }
    .section-one__btn{
        font-size: 1em;
    }
    .section-two{
        font-size: 12px;
    }
    .section-three{
        font-size: 12px;
    }
}
/*TABLET*/
@media screen and (min-width:768px){
    header{
        font-size: 20px;
    }
    /*END HEADER*/
    .section-one{
        font-size: 20px;
    }
    .video-container{
        padding-top: 5.1em;
    }
    iframe{
        width: 60%;
        height: 100%;
    }
    .section-one__content{
        padding: 3em;
        flex-direction: row;
        justify-content: space-between;
    }
    .section-one__text{
        width: min-content;
        font-size: 2em;
        letter-spacing: 1px;
    }
    .section-one__btn-container{
        height: 100%;
        display: flex;
        align-items: flex-end;
    }
    .news-container{
        font-size: 20px;
    }
    .section-two{
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    .text-square{
        height: 70%;
    }    
    .text--titletwo{
        font-size: 3em;
    }
    .btn--a{
        width: 50%;
        border: solid 5px #E94625;
    }
    .section-three{
        display: grid;
        grid-template-rows: 40% 60%;
        font-size: 18px;
    }
    .text-heros{
        padding: 2em 3em;
    }
    .bg-poster{
        height: 40em;
    }
    .section-five{
        font-size: 20px;
    }
    footer{
        font-size: 20px;
    }
}
@media screen and (min-width:769px){
    .text-square{
        width: 100%;
        height: 100%;
    }
    .text--container{
        padding: 1em;
    }
    .text--titleone{
        font-size: 1em;
    }
    .text--titletwo{
        font-size: 2em;
    }
    .text--ico{
        width: 1.5em;
        height: 1.5em;
    }
    .text--content{
        font-size: .8em;
    }
    .btn--a{
        border: solid 3px #E94625;
        width: 30%;
        padding: .8em 0;
        font-size: .8em;
    }
    .text-heros{
        padding: .5em 1em;
    }
}
/*DESKTOP*/
@media screen and (min-width:992px){
    body{
        background-color: blue;
    }
    header{
        font-size: 16px;
    }
    .nav-btn{
        font-size: 13px;
        
    }
    #chbx-btn{
        display: none;
    }
    .nav-btn label{
        display: none;
    }
    .navbar{
        display: flex;
        position: relative;
        top: 0;
        background-color: transparent;
    }
    .navbar li{
        text-align: center;
        list-style: none;
    }
    .navbar li:hover{
        background-color: transparent;
        letter-spacing: 0;
    }
    li a{
        color: #bbb;
        text-decoration: none;
        line-height: 3em;
    }
    li a:hover{
        color: #fff;
        text-shadow: 0 0 1em #fff, 0 0 1.5em #fff, 0 0 2em #fff;
    }
    .navbar{
        display: flex;
        justify-content: right;
        width: max-content;
    }
    nav{
        width: 25em;
    }
    nav ul{
        display: flex;
        justify-content: space-around;
    }
    .more-options{
        width: 300px;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .more-options li a{
        line-height: 1.5em;
    }
    .play-btn{
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -ms-transition: .5s;
        -o-transition: .5s;
        cursor: pointer;
    }
    .play-btn:hover{
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        letter-spacing: 0;
    }
    /*END HEADER*/
    .section-one{
        font-size: 16px;
    }
    .video-container{
        display: flex;
        align-items: center;
        justify-content: right;
        padding-top: 5.2em;
        padding-right: 3em;
    }
    iframe{
        width: 40%;
        height: 100%;
    }
    .section-one__text{
        width: 10em;
        font-size: 3.4em;
        line-height: 2.7rem;
        letter-spacing: 2px;
    }
    .section-one__btn-container{
        align-items: center;
    }
    .card--text-container{
        display: none;
        cursor: pointer;
        color: #fff1;
        background: linear-gradient(135deg, #000 0%, #fff1 10%, #fff1 100%);
        transition: 1.5s;
        -webkit-transition: 1.5s;
        -moz-transition: 1.5s;
        -ms-transition: 1.5s;
        -o-transition: 1.5s;
}
    .card-container:hover .card--text-container{
        display: inline-block;
    }
    .card--text-container:hover{
        color: #fff;
        background: linear-gradient(135deg, #000 0%, #fff1 79%, #fff1 100%);
    }
    .section-two{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }
    .text--titleone{
        font-size: 1.5rem;
    }
    .text--titletwo{
        max-width: 8em;
        font-size: 2.5rem;
    }
    .text--content{
        width: 60%;
        font-size: 1rem;
    }
    .text-square{
        width: 80%;
        height: 90%;
        background-color: #0009;
    }
    .btn--a{
        width: 20%;
        min-width: max-content;
        padding:1em;
        font-weight: 100;
        font-size: 1rem;
    }
    .section-three{
        display: grid;
        grid-template-rows: 60% 40%;
        font-size: 16px;
    }
    .text-heros{
        width: 100%;
        height: 100%;
        padding: 5px 0;
        text-align: center;
        display: grid;
        grid-template-rows: 80% 20%;
        height: 100%;
    }
    .bg-poster{
        height: 60em;
    }
    .five-conatiner{
        font-size: 16px;
        width: 50%;
        align-items: center;
        justify-content: center;
    }
    footer{
        font-size: 16px;
    }
    .logo-footer, .text-footer{
        width: 50%;
        margin: 0 auto;
    }
}